.hidden {
    display: none;
}
/*General Styles*/

body {
    margin: 0px;
    padding: 0px;
}

img, embed, object, video, picture {
    max-width: 100px;
}

p, h1, h2, h3, h4, h5 {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    transition: all .5s ease-in-out;
}

input, textarea {
    display: block;
    margin: 0;
    padding: 0;
}

section h2 {
    padding-left: 15px;
}

/*Box Styling*/
.box {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 5px;
   background-color: cornflowerblue;
   height: 200px;
   font-family: arial;
   color: white;
   font-size: 16px;
}

#products div {
    height: 175px;
}
#services div {
    height: 200px;
    width: 200px;
}


